:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --background-light: #f8f9fa;
  --background-dark: #212529;
  --text-light: #f8f9fa;
  --text-dark: #212529;
  --card-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --hero-overlay-color: rgba(177, 177, 177, 0.4);
  --egg-yellow: #F9C745;
  --egg-yellow-hover: #f7bc2d;
  --dark: #212529;
}