/* Footer */
footer {
  background-color: var(--background-dark);
  color: var(--text-light);
  padding: 1.5rem 0;
  
  .social-icons {
    margin-bottom: 1rem !important;
  }
  
  p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }
}

footer .social-icons a {
  color: var(--text-light);
}

footer .social-icons a:hover {
  color: var(--primary-color);
}