// Import Bootstrap components
@import "~bootstrap/scss/functions";
@import "./helpers/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
// @import "./helpers/utilities";

// Base
@import "./stylesheets/base/base";
@import "./stylesheets/base/root";

// layout
@import "./stylesheets/layout/navbar";
@import "./stylesheets/layout/sections";
@import "./stylesheets/layout/post-card";
@import "./stylesheets/layout/project-card";
@import "./stylesheets/layout/footer";

// pages
@import "./stylesheets/pages/home";
@import "./stylesheets/pages/post";
@import "./stylesheets/pages/distributedshardingdb";
@import "./stylesheets/pages/arxivcopilot";
@import "./stylesheets/pages/bookmeeting";

// components
@import "./stylesheets/components/section-title";
@import "./stylesheets/components/hero";
@import "./stylesheets/components/badge";
@import "./stylesheets/components/social-icon";
@import "./stylesheets/components/card";
@import "./stylesheets/components/chat";
@import "./stylesheets/components/yellow-underline";
@import "./stylesheets/components/buttons";
@import "./stylesheets/components/reveal";
@import "./stylesheets/components/markdown";
@import "./stylesheets/components/loading-page";


